{# Footer #}
<footer class="footer bg-dark">
    <h4>Suivez-nous</h4>
    <a href=""><i class="icofont-facebook"></i></a>
    <a href=""><i class="icofont-google-plus"></i></a>
    <a href=""><i class="icofont-instagram"></i></a>
    <a href=""><i class="icofont-linkedin"></i></a>
    <a href=""><i class="icofont-line-messenger"></i></a>
    <a href=""><i class="icofont-twitter"></i></a>
    <a href=""><i class="icofont-youtube"></i></a>
</footer>
{# End footer #}