{% extends 'base.html.twig' %}
{% block title %}Galleries{% endblock %}
{% block body %}  
<div class="container mt-4">
  <div class="jumbotron">
    <h1>Welcome to notre Gallerie</h1>
    <p class="text-uppercase">Au coeur de Bruxelles</p>
    <hr class="my-6">
    <p class="lead">Nous sommes la place-to-be de l'art ! Nous proposons une palette incroyable de choix artistiques</p>
    <p>Art contemporain, Pop-art, Impressionisme en passant par des toiles de grands maîtres flamands. Notre gallerie est l'écrin de l'expression picturale au service de votre amour pour l'art! </p>
  </div>
</div>
<div class="container col-xxl-8 px-4 py-2">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="img/design/index.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Au coeur de la capitale belge</h1>
      <p class="lead">Un large éventail d'oeuvre d'art sont à découvrir dans notre salle d'exposition.
        Vous serez en total immersion dans nos espaces particulièrement adaptés à l'expertise de l'art.
        Une fois par mois, une vente aux enchères est organisée par des experts internationalement connus
      </p>
    </div>
  </div>
</div>
{% endblock %}