{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

{% block body %}
<div class="container mt-4">
  <div class="jumbotron center">
    <h1>Bienvenue dans notre temple de l'art !</h1>
    <p class="text-uppercase">Au coeur de Bruxelles</p>
    <hr class="my-6">
    <p class="lead">Nous sommes la place-to-be de l'art ! Nous proposons une palette incroyable de choix artistiques</p>
    <p>Art contemporain, Pop-art, Impressionisme en passant par des toiles de grands maîtres flamands. Notre gallerie est l'écrin de l'expression picturale au service de votre amour pour l'art! </p>
  </div>
    <img src="{{asset('img/01.jpg')}}" class="img-fluid mt-4" alt="Wild Landscape" />
    <hr class="my-6">
<div class="row row-cols-1 row-cols-md-3 g-4  mt-4">
    <div class="col">
      <div class="card h-50">
        <img src="{{asset('img/avatar/avatar01.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Créatrice du concept Artigallery - Anastasia Doe</h5>
          <p class="card-text">Sans son audace, le rêve ne serait pas devenu réalité</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-50">
        <img src="{{asset('img/avatar/avatar02.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Spécialiste de l'art dans tous ses états - Ishtar Hellawoum</h5>
          <p class="card-text">Elle est là pour vous conter les milles et une vie des oeuvres exposées dans notre salle d'exposition. Ainsi que pour répondre au mieux à vos besoins.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-50">
        <img src="{{asset('img/avatar/avatar03.jpg')}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Spécialiste en vent et rachat de biens artistiques - Jthon Doe</h5>
          <p class="card-text">Le marché de l'art n'a plus aucun secrets pour lui. Faites-lui confiance!.</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

{% endblock %}
